* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    font-family: system-ui;
    background-color: #F5F5F5;
    padding-top: 10em;
}

h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
    color: #333;
    text-shadow: 4px 4px #D4A6FF;
}


p {
    font-size: 1.2rem;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
    max-width: 600px;
}

.input-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

#urlInput {
    flex: 1;
    min-width: 200px;
    padding: 15px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#dnsButton {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    background-color: #663399;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

#dnsButton:hover {
    background-color: #461A6E;
}

#results {
    width: 80%;
    max-width: 1000px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    word-wrap: break-word;
    font-size: 18px;

}

#results:empty {
    display: none;
}

#results h3 {
    margin-top: 15px;
    margin-bottom: 5px;
    color: #663399;
}

#results div[style*="color: #b30000"] {
    background-color: #ffe5e5;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 5px;
}
